/.idea/.idea.Elementary.dir/.idea/contentModel.xml
/.idea/.idea.Elementary.dir/.idea/indexLayout.xml
/.idea/.idea.Elementary.dir/.idea/modules.xml
/.idea/.idea.Elementary.dir/.idea/projectSettingsUpdater.xml
/.idea/.idea.Elementary.dir/riderModule.iml
/.idea/.idea.Elementary.dir/.idea/vcs.xml
/.idea/.idea.Elementary.dir/.idea/workspace.xml
